@import "components/css/settings.css";
@import "components/css/team-builder.css";

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
body {
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.header {
  width: 100%;
  height: 120px;
  text-align: center;
}

.mrgnbtm {
  margin-top: 20px;
}

.btncenter {
  text-align: center;
}

.mrgnttm10 {
  margin-bottom: 10px;
}